#wrapper-helico {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}
#helico {
    z-index: 1;
    position: fixed;
    width: 1920px;
    height: 1080px;
    right: 200px;
    top: -100px;
    transform: rotate(-5deg) scale(0.8);
    background: url('../img/stibe1.png');
    animation: play 0.3s steps(20) infinite;
    @keyframes play {
        100% {
            background-position: -38400px;
        }
    }
}
