body {
    counter-reset: defis;
}

main {
    color: $white;
    width: 600px;
    margin-left: 45%;
    .home-container {
        margin-top: 40vh;
        margin-bottom: 10vh;
        z-index: 2;
    }
    .logo {
        margin: 20% 0 0 79px;
    }
}

.unchecked {
    color: $white;
    font-family: 'elena';
    font-size: 20px;
    display: flex;
    align-items: flex-start;
    &::before {
        flex: 0 0 auto;
        width: 50px;
        height: auto;
        margin: 0;
        padding-right: 10px;
        text-decoration: none;
        border-radius: 0;
        display: inline;
        vertical-align: baseline;
        counter-increment: defis;
        content: '#' counter(defis) '';
        line-height: 1.5;
    }
    p {
        margin: 0px;
    }
    div {
        flex: 0 0 auto;
        margin: 7px 15px 0 0;
        height: 15px;
        width: 15px;
        border: 1px solid $white;
    }
}

.checked {
    color: $grey;
    font-family: 'elena';
    font-size: 20px;
    text-decoration: line-through;
    display: flex;
    &::before {
        flex: 0 0 auto;
        width: 50px;
        height: auto;
        text-decoration: none;
        margin: 0;
        margin-top: 3px;
        border-radius: 0;
        display: inline;
        vertical-align: baseline;
        counter-increment: defis;
        content: '#' counter(defis) '';
    }
    p {
        margin: 0px;
    }
    div {
        flex: 0 0 auto;
        margin: 7px 15px 0 0;
        height: 15px;
        width: 15px;
        border: 1px solid $grey;
        background-color: $grey;
    }
}
