// SANS-SERIF
/* @font-face {
    font-family: '[Your font family name]';
    src: local('[Your font family name] Light'),
        url('~assets/fonts/[Your-font-family-name]/[Your-font-family-name]-Light.woff2') format('woff2'),
        url('~assets/fonts/[Your-font-family-name]/[Your-font-family-name]-Light.woff') format('woff');
    font-display: swap;
    font-style: normal;
    font-weight: 300;
} */
