/******* GÉNÉRAL *******/

::-moz-selection {
    background: $primary;
    color: #fff;
    text-shadow: none;
}
::selection {
    background: $primary;
    color: #fff;
    text-shadow: none;
}

html {
    font-size: 62.5%; /* sets the base font to 10px for easier math */
    background: $black;
    color: $white;
}

body {
    font: 2em / 1.5 $elena;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 2em 0 1em;
    font-family: $gotham;
    font-size: 2.4rem;
    font-weight: 800;
    text-transform: uppercase;
    -webkit-font-smoothing: auto;
}

h1 {
    margin: 0 0 45px -3px;
    font-size: 15rem;
    line-height: 1;
    span {
        display: block;
        &:first-child {
            color: $primary;
        }
    }
}

p {
    margin: 1.2em 0 0;
    + .fade {
        margin-top: 0;
    }
}

.fade {
    opacity: 0.4;
}

li {
    p {
        margin: 0;
    }
}
ol,
ul {
    padding: 0;
    margin: 0.5em 0 0;
    list-style: none;
    > li {
        position: relative;
        &:before {
            position: absolute;
            top: 0;
            left: -20px;
        }
    }
}
ul {
    color: $grey;
    > li {
        &:before {
            content: '-';
        }
    }
}
ol {
    counter-reset: counter;
    > li {
        margin: 0 0 10px;
        counter-increment: counter;
        &:before {
            content: '#' counter(counter);
            width: 35px;
            font-size: 1.6rem;
            line-height: 30px;
            left: -45px;
            text-align: right;
        }
    }
}

img {
    max-width: 100%;
    height: auto;
}

strong {
    font-weight: 700;
}

/******* LIENS / BOUTONS *******/

a,
button {
    color: inherit;
    transition: $transition;
    &:focus,
    &:hover {
        color: $primary;
    }
    &:focus {
        outline: 0;
    }
}

/******* CLASSES GENERALES  *******/

.icon {
    width: 1em;
    height: 1em;
    fill: currentColor;
}

.hidden {
    display: none !important;
}
