/******* GÉNÉRAL *******/

::-moz-selection {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-shadow: none;
}
::selection {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-shadow: none;
}

html {
    font-size: 62.5%; /* sets the base font to 10px for easier math */
    background: $black;
    color: $white;
}

body {
    font-family: $roboto;
    font-size: 1.6em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $roboto;
    font-size: 2.5em;
    font-weight: 400;
}

h1 {
    font-size: 4.3rem;
    margin: 0 0 0.65em;
}

h2 {
    padding: 0 65px;
    margin: 2em 0 1em;
    font-size: 4rem;
}

h3 {
    font-size: 1.25em;
    padding: 2em 0 0.5em;
    margin: 0 0 1em;
}

h4 {
    font-size: 1.1em;
    margin: 0 0 7px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h5 {
    font-size: 1.25em;
    line-height: 1em;
    margin: 5px 0 2px 0;
}

h6 {
    font-size: 1em;
    margin: 0;
}

p {
    margin: 1.55em 0;
    line-height: 1.5;
}

b,
strong {
    font-family: $roboto;
}

i,
em {
    font-family: $roboto;
    font-style: normal;
    strong {
        font-family: $roboto;
    }
    b {
        font-family: $roboto;
    }
}

ol,
ul {
    padding: 0;
    margin: 1em 0;
    font-family: $roboto;
    line-height: 1.2;
    list-style: none;
    li {
        margin: 0 0 8px;
        &:before {
            display: inline-block;
        }
    }
}
ol {
    counter-reset: counter;
    > li {
        counter-increment: counter;
        &:before {
            content: counter(counter) '.';
            margin: 0 5px 0 0;
        }
    }
}

img {
    max-width: 100%;
    height: auto;
}
/******* LIENS / BOUTONS *******/

a,
button {
    color: $white;
    transition: $transition;
    &:focus,
    &:hover {
        color: $white;
    }
    &:focus {
        outline: 0;
    }
    &:active {
        color: $white;
    }
}

/******* CLASSES GENERALES  *******/

.icon {
    width: 1em;
    height: 1em;
    fill: currentColor;
}

.hidden {
    display: none !important;
}
