/******* GÉNÉRAL *******/

::-moz-selection{
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-shadow: none;
}
::selection{
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-shadow: none;
}

html{
    font-size: 62.5%; /* sets the base font to 10px for easier math */
    background: $gris-bg;
    color: $txt;
    min-height: 100%;
    position: relative;
    &.full-height{
        min-height: 0;
        height: 100%;
    }
}

body{
    font-family: $roboto;
    font-size: 1.6em;
    line-height: 1;
    height: 100%;
}

h1, h2, h3, h4, h5, h6{
    font-family: $roboto-cd-bold;
    font-size: 2.5em;
    font-weight: 400;
}

h1{
    font-size: 4.3rem;
    margin: 0 0 0.65em;
    color: $theme-rouge-txt;
}

h2{
    padding: 0 65px;
    margin: 2em 0 1em;
    font-size: 4rem;
}

h3{
    font-size: 1.25em;
    padding: 2em 0 0.5em;
    margin: 0 0 1em;
    color: $theme-rouge-title;
}

h4{
    font-size: 1.1em;
    margin: 0 0 7px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h5{
    font-size: 1.25em;
    line-height: 1em;
    margin: 5px 0 2px 0;
}

h6{
    font-size: 1em;
    margin: 0;
}

p{
    margin: 1.55em 0;
    line-height: 1.5;
}

b, strong{
    font-family: $roboto-bold;
}

i, em{
    font-family: $roboto-it;
    font-style: normal;
    strong{
        font-family: $roboto-medium-it;
    }
    b{
        font-family: $roboto-cd-bold-it;
    }
}

blockquote{
    position: relative;
    margin: 1em 40px;
    font-family: $roboto-it;
    font-size: 1.2em;
    line-height: 1.25;
    &:before{
        content: '"';
        position: absolute;
        top: 0;
        left: -20px;
        font-size: 35px;
        color: #ef792d;
    }
    cite{
        display: block;
        margin: 0 0 5px;
        text-transform: uppercase;
        font-family: $roboto-cd-bold;
        font-size: 1.2rem;
        letter-spacing: 1.2px;
        font-style: normal;
        color: $orange;
    }
}

ol, ul{
    padding: 0;
    margin: 1em 0;
    font-family: $roboto-bold;
    line-height: 1.2;
    list-style: none;
    li{
        margin: 0 0 8px;
        &:before{
            display: inline-block;
        }
    }
}
ul > li{
    &:before{
        content: '';
        width: 5px;
        height: 5px;
        margin: 0 10px 0 0;
        border-radius: 50%;
        vertical-align: middle;
        background: $theme-btn;
    }
}
ol{
    counter-reset: counter;
    > li{
        counter-increment: counter;
        &:before{
            content: counter(counter)'.';
            margin: 0 5px 0 0;
            font-family: $roboto-bold;
            font-size: 0.85em;
            color: #ef792d;
        }
    }
}

img{
    max-width: 100%;
    height: auto;
}

address{
    font-style: normal;
    margin: 25px 0 0;
    ul{
        margin: 0;
        padding: 0;
        line-height: normal;
        > li{
            margin: 6px 0;
            padding: 0;
            font-size: 0.875em;
            &:before{
                display: none;
            }
        }
    }
    strong{
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}


/******* LIENS / BOUTONS *******/

a, button{
    color: $bleu-link;
    transition: $transition;
    &:focus, &:hover{
        color: mix(white, $bleu-link, 30%);
    }
    &:focus{
        outline: 0;
    }
    &:active{
        color: mix(black, $bleu-link, 30%);
    }
}


/******* CLASSES GENERALES  *******/

.icon{
    width: 1em;
    height: 1em;
    fill: currentColor;
}

.hidden{
    display: none !important;
}

.wrapper-alignment{
    display: table;
    width: 100%;
    table-layout: fixed;
    border-spacing: 0;
}

.content-align-middle{
    display: table-cell;
    vertical-align: middle;
}

.content-align-top{
    display: table-cell;
    vertical-align: top;
}

.clearfix{
    @include clearfix;
}

.position-relative{
    position: relative;
}

.center-align{
    text-align: center;
}

.right-align{
    text-align: right;
}

.inline-b{
    display: inline-block;
    vertical-align: middle;
    transform: translateY(-.1em);
}

.full-width{
    width: 100%;
}

.full-height{
    height: 100%;
}

.wrapper-overflow-hidden{
    position: relative;
    overflow: hidden;
}

.img-fit{
    &.compat-object-fit {
        background-size: cover;
        background-position: 50% 50%;
        img { // hide image if object fit is not supported - opacity to 0 for the link area
            opacity: 0;
        }
    }
}

.above-title{
    margin-bottom: 0;
}
