@font-face {
    font-family: 'elena';
    src: url('../fonts/Elena-Regular.woff2') format('woff2'),
        url('../fonts/Elena-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'elena';
    src: url('../fonts/Elena-Bold.woff2') format('woff2'),
        url('../fonts/Elena-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'gotham';
    src: url('../fonts/Gotham-Medium.woff2') format('woff2'),
        url('../fonts/Gotham-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'gotham';
    src: url('../fonts/Gotham-Ultra.woff2') format('woff2'),
        url('../fonts/Gotham-Ultra.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
