/* Home specific style */
html {
    background-color: $black;
}
@media (max-width: $big-desktop) {
    main,
    h2 {
        margin-left: 40%;
    }
}
@media (max-width: $desktop) {
    main,
    h2 {
        margin-left: 35%;
    }
}
@media (max-width: $desktop-small) {
    main,
    h2 {
        margin-left: 15%;
    }
    #helico {
        left: -150px;
        transform: scale(0.5) rotate(5deg);
    }
}
@media (max-width: $tablet) {
    main,
    h2 {
        margin-left: 10%;
    }
    main {
        width: 400px;
    }
    #helico {
        left: -250px;
        transform: scale(0.4) rotate(5deg);
    }
}

@media (max-width: $phone) {
    main,
    h2 {
        margin-left: 10%;
    }
    main {
        width: 400px;
    }
    main .logo,
    .rules,
    .concept,
    h1 {
        margin: 15% 0 0 0px;
        font-size: 22px;
    }
    #helico {
        left: -500px;
        position: absolute;
        overflow: hidden;
        transform: scale(0.4) rotate(5deg);
    }
    #tada {
        overflow: hidden;
    }
    body {
        overflow-x: hidden;
    }
}
@media (max-width: $phone-small) {
    main,
    h2 {
        margin-left: 10%;
    }
    main {
        width: 300px;
    }

    main .logo {
        z-index: 100;
    }

    #helico {
        left: -600px;
        top: -300px;
        transform: scale(0.4) rotate(5deg);
        overflow: hidden;
    }
}

@media (max-width: $iphone5-se) {
    main,
    h2 {
        margin-left: 5%;
    }
    main {
        width: 300px;
    }

    main .logo {
        z-index: 100;
    }

    #helico {
        left: -700px;
        top: -350px;
        transform: scale(0.2) rotate(5deg);
        overflow: hidden;
    }
}
