// Variables //

// Colors
$white: #fff;
$black: #000;
$grey: #c4c4c4;
$primary: #00a9e0;

// Transition delay list

// Grid
$gutter: 30px;

// Transitions

$transition: 0.3s ease-in-out;

// Fonts

$elena: 'elena', sans-serif;
$gotham: 'Gotham SSm A', 'Gotham SSm B', $elena;

// Mediaqueries
$desktop-big: 1200px;
$desktop: 1100px;
$desktop-small: 960px;
$tablet: 780px;
$phone: 580px;
$phone-small: 400px;
