// Variables //

// Colors

$white: #fff;
$black: #000;

// Transition delay list

// Grid
$gutter: 60px;

// Transitions

$transition: 0.3s ease-in-out;

// Fonts
// $roboto: 'robotoregular', sans-serif;

// Mediaqueries

$desktop-big: 1260px;
$desktop: 960px;
$tablet: 780px;
$phone: 580px;
