/* Grid */

.main {
    overflow: hidden;
}

.container {
    max-width: 1040px;
    padding: 0 $gutter;
    margin: 0 auto;
}

.content {
    width: 100%;
    max-width: 550px;
    margin: 0 0 0 auto;
}
