/* Grid */

.main {
    padding: 0 0 100px;
    overflow: hidden;
}

.container {
    max-width: 1040px;
    padding: 0 $gutter;
    margin: 0 auto;
}

.content {
    width: calc(50% + 47px); // 47px = logo width / 2
    margin: 0 0 0 auto;
}
